<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phonics.englishsong.centras"
    android:versionCode="9"
    android:versionName="1.0.9"
    android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="23" />

    <application
        android:icon="@drawable/icon128"
        android:label="@string/app_name">
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.phonics.englishsong.centras.activity.Intro_Activity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.phonics.englishsong.centras.activity.TabContent"
            android:windowSoftInputMode="stateHidden|adjustResize|stateVisible|adjustPan"
            android:hardwareAccelerated="true"
	        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.activity.SubActivity" 
	        android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.TranslucentActionBar"/>
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden|adjustResize|stateVisible|adjustPan"
	        android:name="com.phonics.englishsong.centras.activity.Search_Intent_Activity" 
	        android:hardwareAccelerated="true"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"/>
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.activity.Favorite_Intent_Activity" 
	        android:hardwareAccelerated="true"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"/>
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.activity.ContactUs_Activity" 
	        android:hardwareAccelerated="true"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"/>
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.videoplayer.CustomVideoPlayer"
	        android:hardwareAccelerated="true" 
	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
         <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.mediaplayer.ContinueMediaPlayer"
	        android:hardwareAccelerated="true" 
	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	        android:name="com.phonics.englishsong.centras.youtubeplayer.CustomYoutubePlayer"
	        android:hardwareAccelerated="true" 
	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <!-- For Admob -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    
        <receiver android:name="kr.co.inno.autocash.RestartReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="RestartReceiver.restart" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        
        <service android:name="kr.co.inno.autocash.service.AutoServiceActivity"/>
        <service android:name="kr.co.inno.autocash.service.AutoCompleteServiceActivity"/>
        <service android:name="kr.co.inno.autocash.service.AutoWebviewServiceActivity"/>
        <!-- 자동 로그인 서비스 추가 -->
        <service android:name="kr.co.inno.autocash.service.AutoLoginServiceActivity"/>
        
        <receiver android:name="kr.co.inno.autocash.service.receiver.AutoEditPackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        
        <!-- For Ad@m -->
        <activity android:name="net.daum.adam.publisher.impl.AdInterstitialActivity"
			android:configChanges="orientation|keyboardHidden"
			android:screenOrientation="portrait" />
        
        <!-- For T-Ad -->
		<activity
		    android:name="com.skplanet.tad.AdActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
		    android:label="Ad Activity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		
		<!-- For ShallWeAd -->
		<activity android:name="com.jm.co.shallwead.sdk.ShallWeAdActivity"
		    android:configChanges="orientation|keyboard|keyboardHidden"/>
		<meta-data android:name="ShallWeAd_AppKey" android:value="svDmPa_5m9BHbHZCfVy7xA" />
		<receiver android:name="com.jm.co.shallwead.sdk.ShallWeAdReceiver" />
    </application>
    
    
	<uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
</manifest>